streamlit==1.23.1
matplotlib
seaborn
wordcloud==1.8.2.2
pandas
emoji==2.4.0
nltk==3.8.1
collection==0.1.6
urlextract==1.8.0
idna 
uritools==4.0.1
pytest
platformdirs
bump2version
filelock
dnspython
black